@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body {
    font-family: Quicksand, Sans-Serif;
    transition: background 0.2s linear;
      
}

html {
    scroll-behavior: smooth;
} 


.title {
    text-align: center;
}

nav {
    text-align: center;
}
nav a {
    border: solid 1px black;
    border-radius: 30px;
    padding: 10px;
}

.btn {
    background-color: #4EE991;
    box-shadow: 3px 3px 3px 3px gray;
    text-decoration: none;
    color: white;
}

.btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #4CCA83;
    border-radius: 10px;
}

section {
    border: #111 solid;
    border-radius: 30px;
    height: 500px;
}

#home {
    background-color: blanchedalmond;
}


#about {
    background-color: antiquewhite;
}

#contact {
    background-color: bisque;
}

.button_toggle {
    text-align: end;
}

* {box-sizing: border-box;}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.button_toggle {
    text-align: end;
}